<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.YCodeBaseApplicationTemplate</string>
	<key>Ancestors</key>
	<array>
		<string>com.ycode.template.project.CocoaPods</string>
		<string>com.apple.dt.unit.storyboardApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template is YCode&apos;s base application templete.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Nodes</key>
	<array>
		<string>Vendors/YYFPSLabel.h</string>
		<string>Vendors/YYFPSLabel.m</string>
		<string>Utils/YCUtils.h</string>
		<string>Utils/YCUtils.m</string>
		<string>General/Categories/UIResponder+Router.h</string>
		<string>General/Categories/UIResponder+Router.m</string>
		<string>General/Views/YCPageControl.h</string>
		<string>General/Views/YCPageControl.m</string>
		<string>General/Views/YCBannerScrollView.h</string>
		<string>General/Views/YCBannerScrollView.m</string>
		<string>Helpers/YCAPIHelper.h</string>
		<string>Helpers/YCAPIHelper.m</string>
		<string>../.gitignore</string>
		<string>General/ReadMe.h</string>
		<string>General/Views/.gitkeep</string>
		<string>General/Classes/.gitkeep</string>
		<string>General/Categories/UIViewController+HUD.m</string>
		<string>General/Categories/UIViewController+HUD.h</string>
		<string>General/Categories/UIViewController+YCBadResponseView.h</string>
		<string>General/Categories/UIViewController+YCBadResponseView.m</string>
		<string>AppDelegate/.gitkeep</string>
		<string>Models/.gitkeep</string>
		<string>Marcos/YCDEFINE.h</string>
		<string>Marcos/YCThirdPartKeyConfig.h</string>
		<string>Marcos/YCURLConfig.h</string>
		<string>Vendors/.gitkeep</string>
		<string>Resources/.gitkeep</string>
		<string>Sections/.gitkeep</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.h:comments</string>
						<string>ViewController.h:imports:importCocoa</string>
						<string>ViewController.h:interface(___FILEBASENAME___ : UIViewController)</string>
						<string>ViewController.m:comments</string>
						<string>ViewController.m:imports:importHeader:ViewController.h</string>
						<string>ViewController.m:extension</string>
						<string>ViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
						<string>ViewController.m:implementation:methods:viewDidLoad:super</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning(- (void\)didReceiveMemoryWarning)</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning:super</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.swift:comments</string>
						<string>ViewController.swift:imports:importCocoa</string>
						<string>ViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad:super</string>
						<string>ViewController.swift:implementation:methods:didReceiveMemoryWarning(override func didReceiveMemoryWarning(\))</string>
						<string>ViewController.swift:implementation:methods:didReceiveMemoryWarning:super</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Vendors/YYFPSLabel.h</key>
		<dict>
			<key>Path</key>
			<string>Vendors/YYFPSLabel.h</string>
			<key>Group</key>
			<string>Vendors</string>
		</dict>
		<key>Vendors/YYFPSLabel.m</key>
		<dict>
			<key>Path</key>
			<string>Vendors/YYFPSLabel.m</string>
			<key>Group</key>
			<string>Vendors</string>
		</dict>
		<key>Utils/YCUtils.h</key>
		<dict>
			<key>Group</key>
			<string>./Utils</string>
			<key>Path</key>
			<string>YCUtils.h</string>
		</dict>
		<key>Utils/YCUtils.m</key>
		<dict>
			<key>Group</key>
			<string>./Utils</string>
			<key>Path</key>
			<string>YCUtils.m</string>
		</dict>
		<key>General/Categories/UIResponder+Router.h</key>
		<dict>
			<key>Path</key>
			<string>./General/Categories/UIResponder+Router.h</string>
			<key>Group</key>
			<array>
				<string>General</string>
				<string>Categories</string>
			</array>
		</dict>
		<key>General/Categories/UIResponder+Router.m</key>
		<dict>
			<key>Path</key>
			<string>./General/Categories/UIResponder+Router.m</string>
			<key>Group</key>
			<array>
				<string>General</string>
				<string>Categories</string>
			</array>
		</dict>
		<key>General/Views/YCBannerScrollView.h</key>
		<dict>
			<key>Path</key>
			<string>./General/Views/YCBannerScrollView.h</string>
			<key>Group</key>
			<array>
				<string>General</string>
				<string>Views</string>
			</array>
		</dict>
		<key>General/Views/YCBannerScrollView.m</key>
		<dict>
			<key>Path</key>
			<string>./General/Views/YCBannerScrollView.m</string>
			<key>Group</key>
			<array>
				<string>General</string>
				<string>Views</string>
			</array>
		</dict>
		<key>General/Views/YCPageControl.h</key>
		<dict>
			<key>Path</key>
			<string>./General/Views/YCPageControl.h</string>
			<key>Group</key>
			<array>
				<string>General</string>
				<string>Views</string>
			</array>
		</dict>
		<key>General/Views/YCPageControl.m</key>
		<dict>
			<key>Path</key>
			<string>./General/Views/YCPageControl.m</string>
			<key>Group</key>
			<array>
				<string>General</string>
				<string>Views</string>
			</array>
		</dict>
		<key>../.gitignore</key>
		<dict>
			<key>Path</key>
			<string>gitignore</string>
			<key>Group</key>
			<string>Supporting Files</string>
		</dict>
		<key>Sections/.gitkeep</key>
		<dict>
			<key>Group</key>
			<string>Sections</string>
			<key>Path</key>
			<string>gitkeep</string>
		</dict>
		<key>Resources/.gitkeep</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>gitkeep</string>
		</dict>
		<key>Vendors/.gitkeep</key>
		<dict>
			<key>Group</key>
			<string>Vendors</string>
			<key>Path</key>
			<string>gitkeep</string>
		</dict>
		<key>Marcos/YCDEFINE.h</key>
		<dict>
			<key>Group</key>
			<string>Marcos</string>
			<key>Path</key>
			<string>Marcos/YCDEFINE.h</string>
		</dict>
		<key>Marcos/YCThirdPartKeyConfig.h</key>
		<dict>
			<key>Group</key>
			<string>Marcos</string>
			<key>Path</key>
			<string>Marcos/YCThirdPartKeyConfig.h</string>
		</dict>
		<key>Marcos/YCURLConfig.h</key>
		<dict>
			<key>Group</key>
			<string>Marcos</string>
			<key>Path</key>
			<string>Marcos/YCURLConfig.h</string>
		</dict>
		<key>Models/.gitkeep</key>
		<dict>
			<key>Group</key>
			<string>Models</string>
			<key>Path</key>
			<string>gitkeep</string>
		</dict>
		<key>AppDelegate/.gitkeep</key>
		<dict>
			<key>Group</key>
			<string>AppDelegate</string>
			<key>Path</key>
			<string>gitkeep</string>
		</dict>
		<key>General/Categories/UIViewController+HUD.m</key>
		<dict>
			<key>Path</key>
			<string>./General/Categories/UIViewController+HUD.m</string>
			<key>Group</key>
			<array>
				<string>General</string>
				<string>Categories</string>
			</array>
		</dict>
		<key>General/Categories/UIViewController+HUD.h</key>
		<dict>
			<key>Path</key>
			<string>./General/Categories/UIViewController+HUD.h</string>
			<key>Group</key>
			<array>
				<string>General</string>
				<string>Categories</string>
			</array>
		</dict>
		<key>General/Categories/UIViewController+YCBadResponseView.h</key>
		<dict>
			<key>Path</key>
			<string>./General/Categories/UIViewController+YCBadResponseView.h</string>
			<key>Group</key>
			<array>
				<string>General</string>
				<string>Categories</string>
			</array>
		</dict>
		<key>General/Categories/UIViewController+YCBadResponseView.m</key>
		<dict>
			<key>Path</key>
			<string>./General/Categories/UIViewController+YCBadResponseView.m</string>
			<key>Group</key>
			<array>
				<string>General</string>
				<string>Categories</string>
			</array>
		</dict>
		<key>General/ReadMe.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>General</string>
			</array>
			<key>Path</key>
			<string>ReadMe.h</string>
		</dict>
		<key>Helpers/YCAPIHelper.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Helper</string>
			</array>
			<key>Path</key>
			<string>./Helpers/YCAPIHelper.h</string>
		</dict>
		<key>Helpers/YCAPIHelper.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Helper</string>
			</array>
			<key>Path</key>
			<string>./Helpers/YCAPIHelper.m</string>
		</dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
	</dict>
</dict>
</plist>
